body {
    width: 1400px;
    /* height: 5138px; */
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

nav a {
    /* justify-content: end; */
    /* height: 20px; */
    margin-top: 0px;
    margin-bottom: 30px;
    margin-inline: 10px;
    text-align: right;
    color: #333333;
    text-transform: capitalize;
}

header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 120px;
    width: 70%;
    margin-bottom: 100px;
}

.furniture {
    font-size: x-large;
    width: 30%;
    height: 10px;
    margin-inline: 70px;
    color: #054C73;
}

nav {
    display: flex;
    justify-content: end;
    gap: 30px;
    /* justify-content: end; */
    width: 80%;
    color: #333333;
    /* height: 122px; */
    margin-inline: auto;
}

a:link {
    color: #184c7e;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(13, 56, 66);
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #3c56c8;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(11, 77, 71);
    background-color: transparent;
    text-decoration: none;
}

/* nav h3 {
    margin-top: 34px;
    color: #054C73;
} */

.hero-section {
    background-image: url(furniture.jpg);
    width: 100%;
    height: 749px;
    display: flex;
    justify-content: right;
}

.container {
    background-color: #DFE9F4;
    width: 643px;
    height: 443px;
    border-radius: 10px;
    margin: 150px 100px;
    justify-self: center;
}

.container h1 {
    color: #054C73;
    /* font-weight: bold; */
    font-size: 52px;
}

.containers p {
    color: #333333;
    line-height: 1.8;
    margin-bottom: 30px;
}

.container button {
    background: #054C73;
    color: white;
    border: none;
    padding: 18px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 30px;
}

.container button:hover {
    color: #77c2c7;
}

.container span {
    letter-spacing: 3px;
    color: #333333;
    font-weight: bold;
    font-size: large;
}

.text {
    margin: 50px
}

.logo-container {
    display: flex;
    flex-direction: row;
    /* margin: 50px; */
    width: 100%;
    height: 150px;
    background-color: #F2F5FF;
}

.logo {
    display: flex;
    /* flex-direction: row; */
    margin: 10px 80px;
    /* width: 500px; */
}

.img-logo {
    margin: 20px;
}

.container-two {
    text-align: center;
    color: #333333;
}

.container-two p {
    color: #666666;
}

.img-two {
    display: flex;
    /* flex-direction: row; */
    gap: 20px;
    justify-self: center;
    width: 1145px;
    height: 472px;
    margin: 40px 0px;
}

.img-two img {
    width: 355px;
    height: 434px;
}

.img-two img:nth-child(1),
.img-two img:nth-child(3) {
    margin-top: 40px;
}

.container-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: #F2F5FF;
}

.text-three {
    margin: 100px 20px;
    padding: 50px;
    width: 400px;
    height: 280px;
}

.img-three {
    background-image: url(circle.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    /* background-position: 100px */
}

.img-three img {
    margin-top: 50px;
}

.img-three img {
    width: 400px;
    height: 600px;
    margin: 40px 20px;
}

/* .circle-img {
    position: absolute;
    z-index: 1;
}

.lady-img {
    position: relative;
    z-index: 2;
} */

.container-three button {
    background: #054C73;
    color: white;
    border: none;
    padding: 18px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 30px;
}

.container-three button:hover {
    color: #77c2c7;
}

.container-three p {
    color: #666666;
    line-height: 1.8;
    margin-bottom: 30px;
}

.container-four {
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
}

.container-four p {
    color: #666666;
}

.img-four {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    justify-self: center;
    width: 1145px;
    height: 472px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.img-four img {
    width: 355px;
    height: 434px;
}

.img-name {
    display: flex;
    flex-direction: column;
}

.img-name span {
    margin-top: 20px;
}

.container-five {
    margin: 40px 20px;
    text-align: center;
    color: #333333;
}

.container-five p {
    color: #666666;
}

.img-five {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    justify-self: center;
    width: 1145px;
    height: 472px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.img-five img {
    width: 355px;
    height: 434px;
}

.img-namess {
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-image: url(man.png);
    background-repeat: no-repeat; */
}
.img-namess h4{
    margin-top: 50px;
}
.img-namess p {
    margin-top: 0px;
}

/* .img-namess span {
    width: 60px;
    height: 60px;
    font-weight: bolder;
    border-radius: 100%;
    background-color: black;
    color: white;
} */
/* .black-circle{
    background-image: url(white-circle.png);
    width: 90px;
    height: 90px;
}
.black-circle img{
    width: 60px;
    height: 60px;
}
.circle{
    display: flex;
    justify-content: center;
} */
.black-circle {
    width: 60px;
    height: 60px;
    border-radius: 60%;

    background-color: #111;
    color: white;

    border: 15px solid white;

    position: absolute;
    left: 50%;
    /* bottom: 65px; */
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bold;
    z-index: 10;
    bottom: 70px;
}
footer{
    margin-top: 200px;
}
.first-one {
    text-align: center;
    width: 100%;
    height: 363px;
    background-color: #F2F5FF;
    margin-top: 0px;
}

.text-footer {
    color: #333333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.text-footer p {
    /* margin: 50px 250px ;
    width: 40%; */
    color: #666666;
}

.email-form {
    margin-top: 50px;
    height: 70px;
}

.email-form input {
    width: 250px;
    padding: 15px;
    /* border: none; */
    outline: none;
    border: 2px solid #054C73;
    margin-right: 0px;
    height: 30px;
    border-radius: 5px;
}

/* form input{
    border: 2px solid #054C73;
} */
.email-form button {
    border-radius: 5px;
    height: 60px;
    padding: 15px 25px;
    width: 153px;
    margin-left: 0px;
    border: none;
    background-color: #011C42;
    color: white;
    cursor: pointer;
}

.second {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 363px;
    background-color: #03344F;
    margin-top: 0px;
    color: white;
}

.second-one {
    margin: 50px;
    width: 30%;
}

.second-one p {
    margin-top: 50px;
}

.images-footer img {
    margin: 5px 10px;
}